.swiper-slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.swiper {
  display: flex;
  overflow: visible;
  width: 100%;
  height: 50vh;
  --swiper-navigation-color: #3b3b48;
  --swiper-navigation-width: 1px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.4rem !important;
}
.swiper-button-prev{
  position: absolute !important;
  top: 47% !important;
  right: -2.5rem !important;
}
.swiper-button-next{
  background-color: white;
  height: 55vh !important;
  width: 3vw !important;
    position: absolute !important;
    left: -2.5rem !important;
    top: 0 !important;
    cursor: pointer;
}